<html>

<head>
    <% content_for :title, "Student" %>
    <%= render 'layouts/headerstudent' %>

</head>

<body>
    <% if false %>
        //This this just comments Below code is for displaying courses and send request

        <% end %>
            <div class="container">
                <% if @electives.size == 0 %>

                    <h1 style="text-align: center;">No Electives Courses Available For The Semseter </h1>

                    <% else %>

                        <h2 style="text-align: center;"> Available courses </h2>

                        <div>
                            <h5 style="text-align: left;"><span class="glyphicon glyphicon-asterisk"></span> You are eligible to apply for <%= @no_of_electives %> electives </h5></div>
                        <table class="table container_table">
                            <thead>
                                <tr>
                                    <th scope="Elective ID ">Elective ID</th>
                                    <th scope="Elective Name">Elective Name</th>
                                    <th scope="Tutor Name">Tutor Name</th>
                                    <th scope="Department">Department</th>
                                    <th scope="Semester">Semester</th>
                                    <th scope="request">Request</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% @electives.each do |course| %>
                                    <tr>
                                        <th>
                                            <%=course.eid %>
                                        </th>
                                        <td>
                                            <%=course.ename %>
                                        </td>
                                        <td>
                                            <%=course.tname %>
                                        </td>
                                        <td>
                                            <%=course.depname%>
                                        </td>
                                        <td>
                                            <%=course.semid %>
                                        </td>
                                        <td>
                                            <%= link_to '<button type="button" class="btn btn-default" id="request">Request Course</button>'.html_safe, request_path( :eid => course.eid ,:sid => course.sid ),:method => :post %>
                                        </td>
                                    </tr>
                                    <% end %>

                            </tbody>
                        </table>
                        <% end %>
            </div>
</body>

</html>