<header class="navbar navbar-default">
    <div class="container">
        <a class="navbar-brand" href="#">
            <%= image_tag("nitc.jpg", :alt => "NITC logo", :class => "img-rounded",  :width => "30", :height => "30", "padding-bottom": "5px") %>
        </a>

        <%= link_to "Online Elective Registration System ", '#', id: "logo" %>
            <nav>
                <ul class="nav navbar-nav navbar-right shadow-lg p-3 mb-5 bg-white rounded">

                    <li>

                        <% @current_tutorUser.each do |user| %>
                            <%=  link_to  "Logged in as #{user.tname.upcase!}", '' %>
                                <% end %>

                    </li>
                    <li class="Manage">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Manage <span class="caret"></span></a>

                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <%= link_to 'Registered Students', '/tutors/registeredStudents', method: :get %> <i class="badge badge-dark"><%= countRegStudents%></i>
                            </li>
                            <li>
                                      
                                <%= link_to 'View Request'.html_safe,   requestsrec_path, method: :get,id: "linktutors" %>  <span class="badge badge-dark"><%= counter%></span>
                            </li>

                        </ul>
                    </li>

                    <li>
                        <%= link_to 'Log Out', logout_path, method: :delete %>
                    </li>
                </ul>
            </nav>
    </div>
</header>

<% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %> fade in " id="request">
        <%= message %>
    </div>
<% end %>